.outerContainer {
  display: flex;
  justify-content: center;
}

.authForms {
  margin: 20px;
  width: 300px;
  /* background-color: #9ac08d; */
  background-image: linear-gradient(to top right, #8fb383, #afcfa5);
  padding: 20px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leaf {
  position: relative;
  margin: 20px;
  width: 400px;
  height: 500px;
  background-image: linear-gradient(to top right, #8fb383, #afcfa5);
  border-radius: 150px 5px 150px 5px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
}

.leaf > form, .leaf-container {
  padding-top: 50px;
  margin: 0px 50px 50px 50px;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 370px;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: rgb(37, 37, 37);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 0 50px;
}

.navButton {
  color: white;
  text-decoration: none;
}

#info-bubble {
  background-color: honeydew;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 30px 30px;
  height: 60px;
  width: 60px;
  right: -30px;
}

.MuiButtonBase {
  margin: 3px;
}
